!!! 5
%html
  = partial '/partials/head'  
  %body{:class => page_classes}
    .content
      = yield

    .clear
    %footer
      = partial '/partials/footer'  


    / %header
    /   %nav
    /     %ul
    /       %li
    /         %a{ :href => '#one'} one
    /       %li
    /         %a{ :href => '#two'} two
    /       %li
    /         %a{ :href => '#three'} three
    /       %li
    /         %a{ :href => '#four'} four
    /       %img#logo{ :src => 'content/stage-images/littlesmoere.jpg'}

  
  = partial 'partials/script-embed'