= javascript_include_tag  "jquery-1.7.2.min.js", "jquery.fancybox.pack.js"
/ "jquery.scrollTo.js", "jquery.nav.js"

%script
	$(document).ready(function() {
	$('.fancybox').fancybox();
	});


/ %script
/ 	$('#nav').onePageNav({

/ 	currentClass: 'current',
/ 	changeHash: true,
/ 	scrollSpeed: 750,
/ 	scrollOffset: 30,
/ 	scrollThreshold: 0.5,
/ 	filter: '',
/ 	easing: 'swing',
	
/ 	begin: function() {
/ 	//I get fired when the animation is starting
/ 	},
	
/ 	end: function() {
/ 	//I get fired when the animation is ending
/ 	}
	
/ 	});


// %script{ :src => "d3.v2.js" }
// %script{ :src => "stack.v0.js" }